## WARMUP SECTION:¶

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [176]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [177]:
lesser_of_two_evens(2,4)

2

In [178]:
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [182]:
def animal_crackers(str):
    mylist = str.lower().split()
    
    return mylist[0][0] == mylist[1][0]

In [183]:
animal_crackers('Levelheaded Llama')

True

In [184]:
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [185]:
def makes_twenty(n1,n2):
    return n1 + n2 == 20 or n1 == 20 or n2 == 20

In [186]:
makes_twenty(20,10)

True

In [187]:
makes_twenty(2,3)

False

## LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
    old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [190]:
def old_macdonald(name):
    return name[:3].capitalize() + name[3:].capitalize()

In [191]:
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed
    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'

In [50]:
def master_yoda(str):
    mylist = str.split()
    mylist.reverse()
    
    return ' '.join(mylist)

In [51]:
master_yoda('I am home')

'home am I'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [192]:
def almost_there(n):
    if (abs(100 - n) <= 10) or (abs(200 - n) <= 10):
        return True 
    else:
        return False

In [193]:
almost_there(90)

True

In [194]:
almost_there(150)

False

In [195]:
almost_there(104)

True

In [196]:
almost_there(209)

True

## Level 2 Problems

#### FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [217]:
def has_33(mylist):
    for i in range(0,len(mylist)-1):
        if mylist[i:i+2] == [3,3]:      # checking a slice of the list
        #if mylist[i] == 3 and mylist[i+1] == 3:
            return True
        
    return False

In [218]:
has_33([1, 3, 3])

True

In [219]:
has_33([1, 3, 1, 3])

False

In [220]:
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [223]:
def paper_doll(str):
    result = ''
    
    for char in str:
        result += char*3
        
    return result

In [224]:
paper_doll('Hello')

'HHHeeellllllooo'

In [225]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [231]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) - 10 <= 21:
        return sum([a,b,c]) - 10
    else:
        return 'BUST'

In [232]:
blackjack(5,6,7)

18

In [233]:
blackjack(9,9,9)

'BUST'

In [234]:
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [89]:
def summer_69(arr):
    sum = 0
    val = False
    
    for num in arr:
        if num == 6:
            val = True
            
        if val == True and num != 9:
            continue
        elif num == 9:
            val = False
            continue
        else:
            sum += num
    
    return sum

In [90]:
summer_69([1, 3, 5])

9

In [91]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [92]:
summer_69([2, 1, 6, 9, 11])

14

## CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order¶
    spy_game([1,2,4,0,0,7,5]) --> True
    spy_game([1,0,2,4,0,5,7]) --> True
    spy_game([1,7,2,0,4,5,0]) --> False

In [243]:
def spy_game(nums):
#     flag = False
#     flag_a = False
    
#     for n in nums:
#         if n == 0 and flag is True:
#             flag_a = True
#             continue
#         elif n == 0:
#             flag = True
#             continue
#         elif n == 7 and flag_a is True:
#             return True
            
#     return False

    ###############
    # Method 2
    ###############

    code = [0,0,7,'x']
    for num in nums:
        if num == code[0]:
            code.pop(0)
            
    #[0,7,'x']
    #[7,'x']
    #['x']
            
    return len(code) == 1

In [240]:
spy_game([1,2,4,0,0,7,5])

True

In [241]:
spy_game([1,0,2,4,0,5,7])

True

In [242]:
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number¶
    count_primes(100) --> 25

By convention, 0 and 1 are not prime

In [244]:
def count_primes(num):
    count = 0
      
    if num < 2:
        return 0
    
#     for n in range(2,num+1):
#         flag = True
#         for i in range(2,int(n/2)+1):
#             if n%i == 0:
#                 flag = False
#                 break

#         if flag:
#             count += 1
    
#     return count

    ############
    # Method 2
    ############
    
    # store our prime numbers
    primes = [2]
    # counter going upto input num
    x = 3
    
    # x is going through every number up to input num
    while x <= num:
        # check if x is prime
        for y in range(3,x,2):     # as other than 2 no even no. is prime
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
            
    print(primes)
    return len(primes)

In [245]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')

    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.
For purposes of this exercise, it's ok if your dictionary stops at "E".