# Immutability - we cannot assign a item in string

In [1]:
name = "ccsc"

In [3]:
# not-allowed
# name[0] = 'p'

# Concatenation

In [4]:
surname = "chundawat"
name + surname

'ccscchundawat'

In [5]:
name = name + surname

In [6]:
name

'ccscchundawat'

In [7]:
#concatenate the same letter 5 times
letter = 'a'
letter * 5

'aaaaa'

In [8]:
'2' + '3'

'23'

In [9]:
x = 'Hello World'

In [10]:
x.upper

In [11]:
x.upper()

'HELLO WORLD'

In [12]:
x.lower()

'hello world'

In [13]:
x.split()  #split on white space to make a list

['Hello', 'World']

In [14]:
x = "Hi this is me."
x.split()

['Hi', 'this', 'is', 'me.']

In [15]:
x.split('i')  #split on the i to make a list

['H', ' th', 's ', 's me.']