In [1]:
s = set()

In [2]:
s.add(1)

In [3]:
s.add(2)

In [4]:
s

{1, 2}

In [6]:
# can't add duplicate element to set
s.add(2)

In [9]:
# to empty the set
s.clear()

In [8]:
s

set()

In [19]:
s = {1,2,3}

In [20]:
# to copy the set
sc = s.copy()

In [21]:
sc

{1, 2, 3}

In [22]:
s.add(4)

In [23]:
s

{1, 2, 3, 4}

In [24]:
# returns the differnce btw the sets
s.difference(sc)

{4}

In [25]:
s1 = {1,2,3}

In [26]:
s2 = {1,4,5}

In [31]:
# it keeps all the different elements in the set s1 and remove else.
s1.difference_update(s2)

In [32]:
s1

{2, 3}

In [33]:
s2

{1, 4, 5}

In [34]:
s

{1, 2, 3, 4}

In [35]:
# discard any element from set
s.discard(2)

In [36]:
s

{1, 3, 4}

In [37]:
s1 = {1,2,3}
s2 = {1,2,4}

In [39]:
# returns the intersection of s1 and s2
s1.intersection(s2)

{1, 2}

In [43]:
# updates s1 to the intersection of the two sets
s1.intersection_update(s2)

In [41]:
s1

{1, 2}

In [44]:
s1 = {1,2}
s2 = {1,2,3}
s3 = {5}

In [46]:
# returns true if nothing is common btw the two sets
s1.isdisjoint(s2)

False

In [47]:
s1.isdisjoint(s3)

True

In [49]:
# checks if s1 is a subset of s2
s1.issubset(s2)

True

In [51]:
# checks if s2 is a superset of s1
s2.issuperset(s1)

True

In [53]:
# returns the symmetric difference in the two sets
s1.symmetric_difference(s2)

{3}

In [54]:
s1.symmetric_difference_update(s2)

In [55]:
s1

{3}

In [57]:
s1 = {1,2}

In [59]:
# returns union of the two sets
s1.union(s2)

{1, 2, 3}

In [62]:
# updates s1 as similar to s2
s1.update(s2)

In [63]:
s1

{1, 2, 3}