In [2]:
pwd

'C:\\Users\\Abhi\\OneDrive\\Documents\\MyWork\\Python\\Working with PDF and Spreadsheets CSV files'

In [11]:
import csv

In [73]:
# Open the file
# different type of files use different encoding
data = open('example.csv',encoding='utf-8')

In [74]:
# csv.reader
csv_data = csv.reader(data)

In [75]:
# Reformat it into a pyhton object list of lists
data_lines = list(csv_data)

In [16]:
data_lines[0]

['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address', 'city']

In [17]:
len(data_lines)

1001

In [19]:
for line in data_lines[:5]:
    print(line)

['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address', 'city']
['1', 'Joseph', 'Zaniolini', 'jzaniolini0@simplemachines.org', 'Male', '163.168.68.132', 'Pedro Leopoldo']
['2', 'Freida', 'Drillingcourt', 'fdrillingcourt1@umich.edu', 'Female', '97.212.102.79', 'Buri']
['3', 'Nanni', 'Herity', 'nherity2@statcounter.com', 'Female', '145.151.178.98', 'Claver']
['4', 'Orazio', 'Frayling', 'ofrayling3@economist.com', 'Male', '25.199.143.143', 'Kungur']

In [76]:
# As column header start at index 0, so 10th data point ill be at 10th index
data_lines[10]

['10',
 'Hyatt',
 'Gasquoine',
 'hgasquoine9@google.ru',
 'Male',
 '221.155.106.39',
 'ZÅ‚oty Stok']

In [25]:
# email(at index 3) of the 10th data point
data_lines[10][3]

'hgasquoine9@google.ru'

In [33]:
# emails of first 15 entries
all_emails = []

In [34]:
for line in data_lines[1:15]:
    all_emails.append(line[3])

In [35]:
all_emails

['jzaniolini0@simplemachines.org',
 'fdrillingcourt1@umich.edu',
 'nherity2@statcounter.com',
 'ofrayling3@economist.com',
 'jmurrison4@cbslocal.com',
 'lgamet5@list-manage.com',
 'dhowatt6@amazon.com',
 'kherion7@amazon.com',
 'chedworth8@china.com.cn',
 'hgasquoine9@google.ru',
 'ftarra@shareasale.com',
 'abathb@umn.edu',
 'lchastangc@goo.gl',
 'cceried@yale.edu']

In [45]:
# full names of the entries i.e. first name + last name
full_names = []

In [42]:
for line in data_lines[1:]:
    full_names.append(line[1] + ' ' + line[2])

In [44]:
# full_names

In [46]:
# Writing to csv files
file_to_output = open('to_save_file.csv',mode='w',newline='')

In [48]:
# delimiter or separator can be anything 
csv_writer = csv.writer(file_to_output,delimiter=',')

In [49]:
# to write a row
csv_writer.writerow(['a','b','c'])

7

In [51]:
# to write multiple rows
csv_writer.writerows([['1','2','3'],['4','5','6']])

In [56]:
file_to_output.close()

In [66]:
# append to a file
f = open('to_save_file.csv',mode='a',newline='')

In [67]:
csv_writer = csv.writer(f)

In [68]:
csv_writer.writerow(['1','2','3'])

7

In [69]:
f.close()